extends layout

block content
 div(class="container-fluid")
  h1= title
  -let nutDesc=thenuts
  console.log(nutDesc)

  div(class="row")
    each nut,index in nutDesc
        div(class = "col-sm-2", onclick=`buy(${index})`) #{nut.nutName} - #{nut.Price} - #{nut.Quantity}
  
  script.       
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }